@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
        .container {

        }

     .s1-cover {
      @apply bg-cover pb-97 lg:pb-36
         }

      .drop-container {
        @apply flex ml-auto mr-10 -mt-8 sm:-mt-10 burger-icon lg:hidden
      }

      .drop-style {
        @apply flex-col items-center pt-4 pb-4 mt-4 ml-auto mr-10 space-y-2 text-base text-white bg-black font-alata lg:hidden max-w-bBlock max-h-56
      }

      .underline-eff {
        @apply hover:underline
      }

     .logo {
      @apply pl-4 pt-20 lg:pt-18 xl:pl-41 sm:pl-11.5 lg:pl-16
         }

     .logo-sm {
        @apply hidden lg:hidden sm:flex
      }

    .s1-nav-space {
        @apply pt-15.5  xl:pr-41 pr-11.5 lg:pr-16
      } 

    .s1-nav {
        @apply hidden space-x-7.5 text-base text-white lg:flex font-alata 
      }
      
      
    .burger-icon {
        @apply flex mt-4 sm:mt-0 lg:hidden
      }

    .logo-big {
        @apply flex lg:flex sm:hidden
      }

    .rflex {
       @apply relative flex
         }

    .flex-cols {
      @apply flex flex-col
        }

    .btn {
      @apply font-medium text-black transition-all bg-transparent border-2 border-solid border-black rounded-sm font-alata hover:bg-black hover:text-white hover:border-transparent
    }
    
    .dbl-btn {
      @apply text-base xsm:text-lg sm:text-3xl tracking-adv sm:tracking-advanced
    }

    .our-style {
      @apply text-2xl sm:text-6xl md:text-5xl xsl:text-4xl font-josefin
    }

    .btn-size {
      @apply px-4 pl-19 pr-19 pt-5 pb-5 flex lg:hidden
    }

    .img-container {
      @apply space-x-4 text-xs flex-cols md:space-x-7.5 sm:flex-row font-josefin sm:text-2xl lg:text-3xl
    }

    .img-container2 {
      @apply space-x-4 text-xs flex-cols sm:flex-row mt-7.5 xl:mt-10 md:space-x-7.5 sm:text-2xl lg:text-3xl font-josefin
    }

    .img-cent {
      @apply relative flex justify-center text-white hover:text-black group
    }

    .img-text-style {
      @apply w-12 py-2 leading-4 sm:py-5 xsm:w-16 sm:w-28 lg:w-36 lg:py-10 sm:leading-7
    }

    .img-txt-st-sm {
      @apply pb-5 pl-6 leading-5 text-white sm:pl-11.25 sm:pb-10 sm:leading-12
    }

    .box-container {
      @apply ml-4 border-4 border-white border-solid mt-80 lg:mt-30 xl:ml-41 mr-11.5 sm:ml-11.5 lg:ml-16 max-w-imBlock
    }

    .box-text {
      @apply text-3xl xl:tracking-normal tracking-wider text-white xsl:text-4xl sm:text-7xl font-josefin
    }

    .box-space {
      @apply xl:max-w-2xl max-w-xl p-6 sm:p-10
    }

    .img-text {
      @apply absolute bottom-0 xl:-ml-8
    }

    .sec2-txt-container {
      @apply z-10 mt-10 sm:mt-20 ml-0 text-center bg-white lg:-ml-40 lg:mt-auto lg:text-left lg:pl-13 xl:pl-25 xl:pt-25 md:pt-13
    }

    .sec2-img {
      @apply mt-20 lg:mt-0 sm:mt-38 w-full
    }
    
    .sec2-htxt {
      @apply text-2xl font-medium font-josefin md:text-5xl xsl:text-4xl sm:text-6xl
    }

    .sec2-htxt-space {
      @apply pt-10 sm:pt-25 sm:pl-10 lg:pl-11.25 lg:pt-11.25 xl:pl-25 xl:pt-25 
    }

    .sec2-ptxt {
      @apply pt-5 text-xs leading-5 lg:font-medium xsl:text-lg sm:text-3xl lg:text-base font-alata text-darkGray lg:leading-6 sm:leading-12
    }

    .sec2-ptxt-space {
      @apply pt-5 sm:pt-10  lg:pl-11.25 xl:pl-25 lg:pt-6 xl:pt-7.5
    }

    .btn-size-mobile {
      @apply px-2 pl-13 pr-13 pt-3 pb-3 flex lg:hidden
    }
     
    .btn-icon {
      @apply flex items-center
    }

    .btn-all {
      @apply items-center hidden font-bold text-black transition-all bg-transparent border border-black rounded-sm lg:pl-10 lg:pr-10 lg:flex font-alata hover:bg-black hover:text-white hover:border-transparent
    }

    .rights-style {
      @apply xsm:text-xl sm:text-3xl lg:text-base font-alata text-darkGray
    }

    .rights-space {
      @apply lg:pt-0 pt-10
    }

    .rights-container {
      @apply ml-0 lg:-ml-40
    }

    .nav-container {
      @apply items-center space-x-0 text-3xl text-white flex-cols lg:space-x-8 lg:space-y-0 space-y-11.25 lg:text-sm lg:flex-row
    }

    .sm-container {
      @apply flex justify-center lg:hidden mt-25 space-x-7
    }

    .nav-container-space {
      @apply pt-17 lg:pt-7.5 font-alata
    }

    .lf-container {
      @apply items-center bg-black flex-cols lg:flex-row lg:justify-between mt-37 lg:mt-0 pb-33 lg:pb-10
    }

    .lf-logo {
      @apply pl-0 pt-27 lg:pt-10  xl:pl-41 lg:pl-16
    }

    .sm-container-svg {
      @apply hidden pr-0 ml-0 space-x-4 lg:flex lg:-ml-10 pt-13 xl:pr-41 lg:pr-16 md:pr-11.5
    }
  }